{% block content %}
<html>
<head>
<style>
.item2 { grid-area: details; }
.item3 { grid-area: pic; }

.grid-container {
  display: grid;
  grid-template-areas:
    'details pic'
    'details pic';
  grid-template-columns: 2fr 3fr;
  gap: 2px;
  background-color: #C0C0C0;
  border-width: 3px;
  padding: 2px;
  width: 700px;
  height: 405px;
}

.grid-container > div {
  background-color: aliceblue;
  text-align: center;
  font-size:20px;
  display: flex;
  justify-content: center;
}

.item3{
  padding-top: 25px;
}
</style>
</head>
<body>
<div class="grid-container">
  <div class="item2">
  	<table style="width:100%;">
    	<tr>
        <td>Song:</td> 
        <td>{{ song.track_name }}</td>
        </tr>
        <tr>
        <td>Artist:</td> 
        <td>{{ song.track_artist }}</td>
        </tr>
        <tr>
        <td>Album:</td> 
        <td>{{ song.track_album_name }}</td>
        </tr>
        <tr>
        <td>Year:</td> 
        <td>{{ song.track_album_release_date }}</td>
        </tr>
        <tr>
        <td>Length:</td> 
        <td>{{ length }}</td>
        </tr>
  	</table>
  </div>
  <div class="item3">
    <img src="{{pictureLink}}" style="border-radius: 10%; padding-bottom: 25px;">
  </div>
</div>

</body>
</html>

{% endblock %}
